.right-sidebar {
    background-color: red;
    display: none;
}

.right-sidebar-container {
    background-color: red;
    display: none;

}

@media (min-width: 72rem) {
    [data-has-sidebar][data-has-toc] .main-pane:where(.astro-eqxccftq) {
        /* Establece tus nuevos valores aquí */
        --sl-content-margin-inline: auto;
        order: 2;
        /* Cambiado a 2, por ejemplo */
        width: 100%;
        /* O el valor que necesites */
    }
}