---
import Botton from '@components/Botton.astro';

import BaseLayout from '../layouts/Layout.astro';
---

<BaseLayout title="Página de Inicio">
  <p>Bienvenido a mi sitio web. Este es el contenido de la página de inicio.</p>
</BaseLayout>

<Botton>
</Botton>