---
import { Badge } from '@astrojs/starlight/components';

interface Props {
  method: string;
  path: string;
}

type BadgeVariant = 'note' | 'success' | 'caution' | 'danger' | 'default' | 'tip';


const { method, path } = Astro.props;

// Mapa de variantes según el método HTTP
const variantMap: Record<string, BadgeVariant> = {
  GET: 'note',
  POST: 'success',
  PUT: 'caution',
  DELETE: 'danger',
};

// Obtener el variant correspondiente o usar 'default' si no existe
const variant = variantMap[method.toUpperCase()] || 'default';
---


<div style="display: flex;">
    <Badge
        text={method}
        variant={variant}
        size="large"
        style="margin-right: 20px;"
    />
    {path}
</div>

<div style="height: 20px;"></div>
